TOPIC: String Based Assignment Problem

Q1. Write a program to reverse a string.

In [1]:
s=input("enter the string: ")
reverse_string=s[::-1]
# I reverse the string with the help of sliciing.
print(reverse_string)

enter the string:  Hello India

aidnI olleH

Q2. Check if a string is a palindrome.

In [3]:
s1=input("Enter the string: ")
reverse=s1[::-1]
# I do slicing operation
if reverse==s1:
    print("This string is palindrome")
else:
    print("This string is not a palindrome") 
# If the reverse is equal to s1 then the string is palindrome otherwise not.

Enter the string:  malayalam

This string is palindrome

Q3. Convert a string to uppercase.

In [4]:
input_string=input("Enter the string: ")
upper=input_string.upper()
# I use upper() function to convert the input into Uppercase character
print("The uppercase string is : ",upper)

Enter the string:  virat kohli

The uppercase string is :  VIRAT KOHLI

Q4. Convert a string to lowercase.

In [5]:
user_input=input("Enter the string: ")
lower=user_input.lower()
# I use lower() function to convert the input into Lowercase character
print("The lowercase string is: ",lower)

Enter the string:  MODI

The lowercase string is:  modi

Q5. Count the number of vowels in a string.

In [34]:
string=input("Enter the string: ")
# take the input from the user
count=0
# take count as zero
lower=string.lower()
# now convert the string in lowercase
for i in lower:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    # here it's true . so it can detect
        count+=1
if count==0:
    print("No vowels found")
else:
    print("Total vowels are: ",count)

Enter the string:  Modi is our primr minister

Total vowels are:  9

Q6. Count the number of consonants in a string.

In [2]:
string=input("Enter the string: ")
# take the input from the user
count=0
# take count as zero
lower=string.lower()
# now convert the string in lowercase
for i in lower:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    # here it's true . so it can detect
        count+=1
        
# Remove spaces and punctuation from the string
s = ''.join(e for e in lower if e.isalnum())

total=len(s)
# now I count all aplhabet in the string

consonant=total-count
print("This string contains",consonant,"consonant")

Enter the string:  my name

This string contains 4 consonant

Q7. Remove all whitespaces from a string.

In [6]:
s=input("Enter the string: ")
b=s.replace(" ","")
# I use replace() function to replace all whitespace with no whitespace
print(b)

Enter the string:  i live in india

iliveinindia

Q8. Find the length of a string without using the 'len()' function.

In [7]:
count=0
s="my name is"
# here I iterate the for loop across s
for i in s:
    count+=1
    # count add increase their value after each iteration
print(count)

10

Q9. Check if a string contains a specific word.

In [8]:
string=input("Enter the string: ")
# I take input from the user
specific=input("Enter the specific word: ")
# here I takr the specific word from the user
if specific in string:
    print(f"This string contain '{specific}'.")
else:
    print(f"This string do not contain '{specific}'")
    # if the specific word found in string them it shows line of code for the if or otherwise else statement will print.

Enter the string:  my name
Enter the specific word:  virat

This string do not contain 'virat'

Q10. Replace a word in a string with another word.

In [9]:
s="My name is virat kohli"
b=s.replace("virat","rohit")
# with the help of replace function I replace the word in string.
print(b)

My name is rohit kohli

Q11. Count the occurrences of a word in a string.

In [15]:
s=input("Enter the string: ")
# take input from the input
s=s.split()
# now I split the string
count=0
# initialize count as zero
word=input("Enter the word: ")
for i in s:
    if i == word:
        count+=1
    # if word found in string then count
    
print(f"This {word} occurs",count,"time")

Enter the string:  i want to become data scientist so i prepare myself
Enter the word:  i

This i occurs 2 time

Q12. Find the first occurrence of a word in a string.

In [17]:
text=input("Enter the text: ")
# take input from user
word=input("Enter the word: ")
index = text.find(word)
# with the help of find() function I find the first occurence of a specific word
print(f"This word occurs at {index} index.")

Enter the text:  my name is virat kohli
Enter the word:  is

This word occurs at 8 index.

Q13. Find the last occurrence of a word in a string.

In [18]:
text=input("Enter the text: ")
# take input from user
word=input("Enter the word")
index = text.rfind(word)
# with the help of rfind() function I find the last occurence of a specific word
print(f"This word occurs at {index} index.")

Enter the text:   my name my is my
Enter the word my

This word occurs at 15 index.

Q14. Split a string into a list of words.

In [19]:
s="my name is virat kohli"
b=s.split()
# split() function split the word and collect in a list
print(b)

['my', 'name', 'is', 'virat', 'kohli']

Q15. Join a list of words into a string.

In [20]:
l=['my', 'name', 'is', 'rohit', 'sharma']
join=' '.join(l)
# join() function join all element of list into a string
print(join)

my name is rohit sharma

Q16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [21]:
string=input("Enter the string: ")
b=string.replace(" ","_")
# with the help of replace function I replace whitespace from the undrscores
print("Space is replace by underscore: ",b)

Enter the string:  my name is

Space is replace by underscore:  my_name_is

Q17. Check if a string starts with a specific word or phrase.

In [22]:
s="my name is ritik"
c="is"
if s.startswith(c):
    # I use startswitch() because it Return True if S starts with the specified prefix, False otherwise
    print("yes")
else:
    print("no")

no

Q18. Check if a string ends with a specific word or phrase.

In [23]:
s="my name is ritik"
c="ritik"
if s.endswith(c):
    # I use endswitch() becuase it Return True if S ends with the specified prefix, False otherwise
    print("yes")
else:
    print("no")

yes

Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [1]:
s=input("Enter the string: ")
b=s.title()
# title function any case of character into title
print(b)

Enter the string:  my name is virat kohli

My Name Is Virat Kohli

Q20.Find the longest word in a string.

In [2]:
str=input("Enter the string: ")
s=str.split()
# split the givn string
max=0
# initialize the max as zero
for i in s:
    if len(i)>max:
        # if length of i is greater than max
        max=len(i)
        max_word=i
        # then i is assign in the max word
print("word with maximum length: ",max_word)

Enter the string:  virat kohli is an crickter

word with maximum length:  crickter

Q21. Find the shortest word in a string.

In [3]:
def shortest(s):
    s=s.split()
    # split the string 
    minv=s[0]
    # take zeroth index as the minimum value
    for i in s:
        if i < minv:
            # if i is lesser than minimum value
            minv=i
            # then assign value of a in minimum value
    return minv        

s1="I live in India"
print(shortest(s1))

I

Q22. Reverse the order of words in a string.

In [4]:
string="we are here to learn the python"
s=string.split()[::-1]
# firstly I split string and do slicing operation
l=[]
# take empty list
for i in s:
    # iterate the list s
    l.append(i)
    # append value in the list l
print(" ".join(l))
# use join functoion to join the list into string

python the learn to here are we

Q23. Check if a string is alphanumeric.

In [5]:
string=input("Enter the string: ")
s=string.isalnum()
# isalnum to findout that is this string contain alphanumeric value or not
if s:
    print("This string contain alphanumeric")
else:
    print("This string do not contain alphanumeric")

Enter the string:  ritik12

This string contain alphanumeric

Q24. Extract all digits from a string.

In [8]:
def extract(text):
    digit=''
    # take empty string
    for i in text:
        # iterate the text 
        if i.isdigit():
            # isdigit to find digit in the string
            digit+=i
        
    return digit      

text=input("Enter the string")
extracted = extract(text)
print("extract digits: ",extracted)

Enter the string myname1234

extract digits:  1234

Q25. Extract all alphabets from a string.

In [9]:
string="Hello123"
alphabet=''
# take empty string
for i in string:
    if i.isalpha():
        # use isalpha() to extract the alphabet in the string
        alphabet+=i
print(alphabet)

Hello

Q26. Count the number of uppercase letters in a string.

In [10]:
string=input("Enter the string: ")
count=0
for i in string:
    if(i.isupper()):
        # isupper is use to findout the uppercase character in the string
        count+=1
print("The number of uppercase character is: ",count)

Enter the string:  I am from Uttar Pradesh

The number of uppercase character is:  3

Q27. Count the number of lowercase letters in a string.

In [11]:
string=input("Enter the string: ")
count=0
for i in string:
    if(i.islower()):
        # islower is use to findout the lowercase character in the string
        count+=1
print("The number of lowercase character is: ",count)

Enter the string:  I am from Uttar Pradesh

The number of lowercase character is:  16

Q28. Swap the case of each character in a string.

In [12]:
s=input("Enter the string: ")
swap=s.swapcase()
# swapcase() is swap the character case
print(swap)

Enter the string:  my name is RITIK

MY NAME IS ritik

Q29. Remove a specific word from a string.

In [13]:
string=input("Enter the string: ")
word=input("Enter the remove word: ")
s=string.split()
remove=s.remove(word)
# remove() is use to remove the word from the string
str1=" "
print(str1.join(s))

Enter the string:  my name is virat kohli
Enter the remove word:  name

my is virat kohli

Q30. Check if a string is a valid email address.

In [8]:
import re
def email_valid(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern,email):
        return True
    else:
        return False

email1="kdj12@gmail.com"
email2="itmgmail.com"
print(email_valid(email1))
print(email_valid(email2))

True
False

Q31. Extract the username from an email address string.

In [13]:
def extract(email):
    user=email.split("@")[0]
    return user

email1="virat@gmail.com"
print("Extracted username: ",extract(email1))

Extracted username:  virat

Q32. Extract the domain name from an email address string.

In [23]:
def domain(email):
    domain=email.split('@')[1]
    return domain

email1='virat@yahoo.com'
print("Extracted domain:",domain(email1))

Extracted domain: yahoo.com

Q33. Replace multiple spaces in a string with a single space.

In [24]:
string="India   win   this  world    cup "
clear_string=' '.join(string.split())
print(clear_string)

India win this world cup

Q34. Check if a string is a valid URL.

In [30]:
from urllib.parse import urlparse
def valid(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = valid(url1)
result2 = valid(url2)
print(result1) 
print(result2)

True
False

Q35. Extract the protocol (http or https) from a URL string.

In [14]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

Q37. Remove all punctuation from a string.

In [3]:
text="Hello, India! We win Wolrd Cup. "
punc='.,!?:;'
result=''
for i in text:
    if i not in punc:
        result+=i
print(result)

Hello India We win Wolrd Cup

Q38. Check if a string contains only digits.

In [1]:
def check_digit(string):
    return string.isdigit()

s1="123"
s2='abc123'
print(check_digit(s1))
print(check_digit(s2))

True
False

Q39. Check if a string contains only alphabets.

In [3]:
def check_alpha(string):
    return string.isalpha()

s1='abc'
s2='abc123'
print(check_alpha(s1))
print(check_alpha(s2))

True
False

Q40. Convert a string to a list of characters.

In [5]:
string=input("Enter the string: ")
l=list(string)
print(l)

Enter the string:  India win cup

['I', 'n', 'd', 'i', 'a', ' ', 'w', 'i', 'n', ' ', 'c', 'u', 'p']

Q41. Check if two strings are anagrams.

In [6]:
def check_ana(s1,s2):
    s1= s1.replace(''," ").lower()
    s2= s2.replace('',' ').lower()
    return sorted(s1)==sorted(s2)

s1='triangle'
s2='integral'
s3='noise'
s4='warm'

print(check_ana(s1,s2))
print(check_ana(s3,s4))

True
False

Q42. Encode a string using a Caesar cipher.

In [15]:
def caeser(text,shift):
    text=text.lower()
    encoded=''
    for char in text:
        if char.isalpha():
            encoded_text=chr((ord(char)+shift-ord('a'))%26 + ord('a'))
        else:
            encoded_text=char
        encoded+=encoded_text    
    return encoded

In [16]:
caeser("Hello",3)

'khoor'

Q43. Decode a string using a Caesar cipher.

In [13]:
def de(text,shift):
    decrypt=''
    for char in text:
        if char.isalpha():
            de_text=chr((ord(char)-shift-ord('a'))%26 + ord('a') )
        else:
            de_text=char
        decrypt+=de_text
    return decrypt

In [17]:
de('khoor',3)

'hello'

Q44. Find the most frequent word in a string.

In [11]:
def most_frequent_word(s):
    words = s.split()
    words.sort()
    max_count = 0
    max_word = ''
    current_count = 1
    current_word = words[0]
    for i in range(1, len(words)):
        if words[i] == current_word:
            current_count += 1
        else:
            if current_count > max_count:
                max_count = current_count
                max_word = current_word
            current_word = words[i]
            current_count = 1
    if current_count > max_count:
        max_count = current_count
        max_word = current_word
    return max_word

s1="Hello,! in the world hello"
print(most_frequent_word(s1))

Hello,!

Q45. Find all unique words in a string.

In [4]:
import re

def unique(string):
    clean= re.sub(r'[^\w\s]', '',string).lower()
    split=set(clean.split())
    return split

In [6]:
unique("Hello,! in the world hello")

{'hello', 'in', 'the', 'world'}

Q46. Count the number of syllables in a string.

In [16]:
def count_syllables(word):
    vowels = "aeiouy"
    count = 0
    for letter in word:
        if letter in vowels:
            count += 1
    return count

def count_syllables_in_string(string):
    words = string.split()
    count = 0
    for word in words:
        count += count_syllables(word)
    return count
word1 = "hello in the world"
word2 = "banana"
word3 = "syllable"

print(count_syllables_in_string(word1))
print(count_syllables_in_string(word2))
print(count_syllables_in_string(word3))

5
3
3

Q47. Check if a string contains any special characters.

In [8]:
def check(string):
    special="!@#$%^&*()_+-=[]{}|;':\",./<>?\\"
    for i in string:
        if i in special:
            return True
    return False

s1="Yahoo! India won World Cup"
s2='I am in India'
print(check(s1))
print(check(s2))

True
False

Q48. Remove the nth word from a string.

In [27]:
def word_remove(string):
    remove=input("Enter the word which you wan to remove from the string: ").lower()
    split=string.lower().split()
    
    for i in range(len(split)):
        if split[i] == remove:
            removed_word = split.pop(i)
            return ' '.join(split), removed_word

    return string, f'The word "{remove}" was not found in the string'

In [31]:
word_remove("India won the world cup this year")

Enter the word which you want to remove from the string:  the

('india won world cup this year', 'the')

Q49. Insert a word at the nth position in a string.

In [35]:
def word_insert(string):
    s = string.split()
    word_insert = input("Enter the word to be entered: ")
    word_index = int(input("Enter the index of the word: "))
    s.insert(word_index, word_insert)
    return ' '.join(s)

In [36]:
word_insert('india win world cup')

Enter the word to be entered:  the
Enter the index of the word:  2

'india win the world cup'

Q50. Convert a CSV string to a list of lists.

In [20]:
csv_string = "1.0,0.0,5.0\n2.0,0.0,4.0\n3.0,0.0,3.0\n4.0,0.0,2.0\n5.0,0.0,1.0"
csv_list = csv_string.split("\n")
csv_list_of_lists = []
for row in csv_list:
    csv_list_of_lists.append(row.split(","))
print(csv_list_of_lists)

[['1.0', '0.0', '5.0'], ['2.0', '0.0', '4.0'], ['3.0', '0.0', '3.0'], ['4.0', '0.0', '2.0'], ['5.0', '0.0', '1.0']]

## List Based Practice Problem :

Q1. Create a list with integers from 1 to 10.

In [2]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q2. Find the length of a list without using the `len()` function.

In [1]:
total=0
l=[1,2,3,4,5]
for i in l:
    total+=1
print(total)

5

Q3. Append an element to the end of a list.

In [2]:
l=[1,2,3,4,5]
l.append(6)
print(l)

[1, 2, 3, 4, 5, 6]

Q4. Insert an element at a specific index in a list.

In [10]:
l=[1,2,3,4,5]
print("Old list: ",l)
l.insert(0,50)
print("New list: ",l)

Old list:  [1, 2, 3, 4, 5]
New list:  [50, 1, 2, 3, 4, 5]

Q5. Remove an element from a list by its value.

In [5]:
l=[]
for i in range(1,11):
    l.append(i)
print("The current list is: ",l)
n=int(input("Enter which you want to remove: "))
l.remove(n)
print("The updated list is ",l)

The current list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Enter which you want to remove:  5

The updated list is  [1, 2, 3, 4, 6, 7, 8, 9, 10]

Q6. Remove an element from a list by its index.

In [16]:
l=[]
for i in range(1,11):
    l.append(i)
print("list = ",l)
n=int(input("Enter the index which you want to remove: "))
l.pop(n)
print("Upadated list: ",l)

list =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Enter the index which you want to remove:  0

Upadated list:  [2, 3, 4, 5, 6, 7, 8, 9, 10]

Q7. Check if an element exists in a list.

In [4]:
l=[]
for i in range(0,11):
    l.append(i)
print("list = ",l)
n=int(input("Enter value to  check: "))
if n in l:
    print("Yes, this value exist in the list")   
else:
    print("This value doesn't exist in the list")

list =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Enter value to  check:  45

This value doesn't exist in the list

Q8. Find the index of the first occurrence of an element in a list.

In [22]:
l=[10,35,20,35,40]
n=int(input("Enter the value: "))
i=l.index(n)
print("The first occurance is: ",i)

Enter the value:  35

The first occurance is:  1

Q9. Count the occurrences of an element in a list.

In [23]:
l=[10,35,20,35,40]
n=int(input("Enter the value: "))
i=l.count(n)
print(f"{n} occurs {i} times in the list.")

Enter the value:  35

35 occurs 2 times in the list.

Q10. Reverse the order of elements in a list.

In [26]:
l=[]
for i in range(1,15):
    l.append(i)
print("Old list = ",l)    
rev=l[::-1]
print("New list = ",rev)

Old list =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
New list =  [14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Q11. Sort a list in ascending order.

In [29]:
l=[22,5,2,553,565,898,12]
print(l)
l.sort()
print("Ascending order: ",l)

[22, 5, 2, 553, 565, 898, 12]
Ascending order:  [2, 5, 12, 22, 553, 565, 898]

Q12. Sort a list in descending order.

In [1]:
l=[22,5,2,553,565,898,12]
print(l)
l.sort(reverse=True)
print("Descending order: ",l)

[22, 5, 2, 553, 565, 898, 12]
Descending order:  [898, 565, 553, 22, 12, 5, 2]

Q13. Create a list of even numbers from 1 to 20.

In [2]:
l=[]
for i in range(2,21,2):
    l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q14. Create a list of odd numbers from 1 to 20.

In [3]:
l=[]
for i in range(1,20,2):
    l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q15. Find the sum of all elements in a list.

In [5]:
l=[1,2,3,4,5]
s=sum(l)
print("Sum is: ",s)

Sum is:  15

Q16. Find the maximum value in a list.

In [1]:
l=[1,2,3,4,5]
m=max(l)
print("Maximum value: ",m)

Maximum value:  5

Q17. Find the minimum value in a list.

In [8]:
l=[523,54521,56,898,896,826,889]
m=min(l)
print("Minimum value: ",m)

Minimum value:  56

Q18. Create a list of squares of numbers from 1 to 10.

In [4]:
list(map(lambda x:x*x,range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q19. Create a list of random numbers.

In [23]:
import random
#Generate 5 random numbers between 0 and 100
randomlist = random.sample(range(0, 100),5)
print(randomlist)

[64, 56, 43, 52, 29]

Q20. Remove duplicates from a list.

In [10]:
l=[52,52,12,1,352,548,89,78,2,1,352,89]
duplicate=list(set(l))
print(duplicate)

[352, 1, 2, 548, 12, 78, 52, 89]

Q21. Find the common elements between two lists.

In [2]:
l=[]
list1=[10,20,30,40,50]
list2=[30,40,50,60,70]
for i in list1:
    for j in list2:
        if i==j:
            l.append(i)
print(l)

[30, 40, 50]

Q22. Find the difference between two lists.

In [5]:
l=[]
list1=[10,20,30,40,50]
list2=[30,40,50,60,70]
difference = list(set(list1).difference(list2))
print(difference)

[20, 10]

Q23. Merge two lists.

In [7]:
list1=[10,20,30,40,50]
list2=[30,40,50,60,70]
l=list1+list2
print(l)

[10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

Q24. Multiply all elements in a list by 2.

In [7]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x*2,l))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q25. Filter out all even numbers from a list.

In [1]:
my_list = [10, 20, 15, 25, 30, 40, 35, 45]

# Filter out even numbers using a list comprehension
filtered_list = [x for x in my_list if x % 2 == 0]

# Print the filtered list
print("Filtered list (even numbers):", filtered_list)

Filtered list (even numbers): [10, 20, 30, 40]

Q26. Convert a list of strings to a list of integers.

In [2]:
a=['10','20','30','40']
l=[]
for i in a:
    l.append(int(i))
print(l)

[10, 20, 30, 40]

Q27. Convert a list of integers to a list of strings.

In [1]:
list_int=[1,2,3,4,5]
print("List: ",list_int)
list_str=[str(i) for i in list_int]
print("New list: ",list_str)

List:  [1, 2, 3, 4, 5]
New list:  ['1', '2', '3', '4', '5']

Q28. Flatten a nested list.

In [21]:
def flatten_list(nested_list):
    
    flattened_list = []
    for element in nested_list:
        
        if type(element) == list:
            flattened_list.extend(flatten_list(element))
       
        else:
            flattened_list.append(element)

    return flattened_list
    
nested_list = [[1, 2], [3, [4, 5]], 6]
flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6]

Q29. Create a list of the first 10 Fibonacci numbers.

In [30]:
a=0
b=1
for i in range(1,11):
    if i==1:
        print(a)
    else:    
        a,b=b,a+b
        print(a)

0
1
1
2
3
5
8
13
21
34

OR

In [5]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)

In [7]:
fib(10)

55

Q30. Check if a list is sorted.

In [9]:
l=[1,2,5,8,2,5,6,5,6,9]
l.sort()
print(l)

[1, 2, 2, 5, 5, 5, 6, 6, 8, 9]

OR

In [22]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [10, 20, 30, 40, 50]


if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

Q31. Rotate a list to the left by `n` positions.

In [46]:
def rotate_left(n,l):
    n=n%len(l)
    new_list=l[n:]+l[:n]
    return new_list

n=2
l=[1,2,3,4,5]
print(rotate_left(n,l))

[3, 4, 5, 1, 2]

Q32. Rotate a list to the right by `n` positions.

In [47]:
def rotate_right(n,l):
    n=n%len(l)
    new_list=l[-n:]+l[:-n]
    return new_list

n=2
l=[1,2,3,4,5]
print(rotate_right(n,l))

[4, 5, 1, 2, 3]

Q33. Create a list of prime numbers up to 50.

In [34]:
def prime_number(n):
    prime=[]
    for i in range(2,n+1):
        for j in range(2,int(i**0.5)+1):
            if i%j==0:
                break
        else:
            prime.append(i)
    return prime

prime_list=prime_number(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Q34. Split a list into chunks of size `n`.

In [48]:
def split_list(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [51]:
for i in split_list([1,2,3,4,5],2):
    print(i)

[1, 2]
[3, 4]
[5]

Q35. Find the second largest number in a list.

In [2]:
l=[82,56,65,59,96,24,65]
l.sort()
print("The second largest number in a list is:",l[-2])

The second largest number in a list is: 82

Q36. Replace every element in a list with its square.

In [3]:
l=[1,2,3,4,5,6,7,9,10]
l1=[i*i for i in l]
print(l1)

[1, 4, 9, 16, 25, 36, 49, 81, 100]

Q37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [7]:
language=['python','java','java script']
enumerate_prime=enumerate(language)
list(enumerate_prime)

[(0, 'python'), (1, 'java'), (2, 'java script')]

Q38. Shuffle the elements of a list randomly.

In [9]:
import random
l=[1,2,3,4,5,6,7,8,9]
print("List: ",l)
random.shuffle(l)
print("Shuffled list: ",l)

List:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Shuffled list:  [8, 1, 5, 7, 2, 3, 9, 4, 6]

Q39. Create a list of the first 10 factorial numbers.

In [20]:
def facto(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact    
l=[facto(i) for i in range(1,11)]
print(l)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

Q40. Check if two lists have at least one element in common.

In [23]:
def check(l1,l2):
    for i in l1:
        if i in l2:
            return True
    return False

l1=[1,2,3,4]
l2=[4,5,6,7]

if check(l1,l2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

Q41. Remove all elements from a list.

In [24]:
l=[1,2,3]
print("List: ",l)
l.clear()
print("Removed list: ",l)

List:  [1, 2, 3]
Removed list:  []

Q42. Replace negative numbers in a list with 0.

In [27]:
def negative(n):
    if n<0:
        return True
    return False
list1=[1,-2,3,-4,5,-6]
l=[0 if negative(i) else i for i in list1]
print(l)

[1, 0, 3, 0, 5, 0]

Q43. Convert a string into a list of words.

In [28]:
string=input("Enter the string: ")
split=string.split()
print(split)

Enter the string:  India win this world cup

['India', 'win', 'this', 'world', 'cup']

Q44. Convert a list of words into a string.

In [33]:
l=['India', 'win', 'this', 'world', 'cup']
string=' '.join(l)
print(string)

India win this world cup

Q45. Create a list of the first `n` powers of 2.

In [38]:
power=int(input("Enter the power limit: "))
l=[2**i for i in range(1,power+1)]
print(l)

Enter the power limit:  10

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

Q46. Find the longest string in a list of strings.

In [3]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

Q47. Find the shortest string in a list of strings.

In [6]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest=string_list[0]
for i in string_list:
    if len(i)<len(shortest):
        shortest=i
print("Shortest word in a list is: ", shortest)

Shortest word in a list is:  date

Q48. Create a list of the first n triangular numbers.

In [37]:
def triangular(n):
    return [i * (i + 1) // 2 for i in range(1,n+1)]

n=int(input("Enter the value of n :"))
print(triangular(n))

Enter the value of n : 5

[1, 3, 6, 10, 15]

Q49. Check if a list contains another list as a subsequence.

In [43]:
def check(main_list,subsequence):
    subseq_index=0
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index+=1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
check(main_list,subsequence)

True

Q50. Swap two elements in a list by their indices.

In [44]:
l=[1,2,3,4,5]
index1=4
index2=0
store=l[index1]
l[index1]=l[index2]
l[index2]=store
print(l)

[5, 2, 3, 4, 1]

## Tuple Based Practice Problem :

Q1. Create a tuple with integers from 1 to 5.

In [2]:
l=(1,2,3,4,5)

Q2. Access the third element of a tuple.

In [23]:
l=(1,2,3,4,5)
s=l[2]
print(s)

3

Q3. Find the length of a tuple without using the `len()` function.

In [3]:
l=(1,2,3,4,5)
total=0
for i in l:
    total+=1
print(total)

5

Q4. Count the occurrences of an element in a tuple.

In [4]:
l=(1,2,3,4,5,6,1,2,3,5,6,1,5,6,1,3,3)
l.count(1)

4

Q5. Find the index of the first occurrence of an element in a tuple.

In [8]:
l=(1,2,3,4,5,6,1,2,3,5,6,1,5,6,1,3,3)
s=l.index(2)
print(s)

1

Q6. Check if an element exists in a tuple.

In [10]:
l=(1,2,3,4,5,6,1,2,3,5,6,1,5,6,1,3,3)
print(l)
n=int(input("Enter the number to find: "))
if n in l:
    print("This element exist in a tuple")
else:
    print("This element don't exist in a tuple")

(1, 2, 3, 4, 5, 6, 1, 2, 3, 5, 6, 1, 5, 6, 1, 3, 3)

Enter the number to find:  56

This element don't exist in a tuple

Q7. Convert a tuple to a list.

In [12]:
l=(1,2,3,4,5,6,1,2,3,5,6,1,5,6,1,3,3)
l=list(l)
print(l)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 5, 6, 1, 5, 6, 1, 3, 3]

Q8. Convert a list to a tuple.

In [14]:
l=[1,2,5,6,"my", True]
l=tuple(l)
print(l)

(1, 2, 5, 6, 'my', True)

Q9. Unpack the elements of a tuple into variables.

In [15]:
l=[1,2,5,6,"my", True]
for i in l:
    print(i)

1
2
5
6
my
True

Q10. Create a tuple of even numbers from 1 to 10.

In [18]:
t=[]
for i in range(2,11,2):
    t.append(i)
t=tuple(t)
print(t)

(2, 4, 6, 8, 10)

Q11. Create a tuple of odd numbers from 1 to 10.

In [20]:
t=[]
for i in range(1,11,2):
    t.append(i)
t=tuple(t)
print(t)

(1, 3, 5, 7, 9)

Q12. Concatenate two tuples.

In [21]:
t1=(1,2,3)
t2=(4,5)
t=t1+t2
print(t)

(1, 2, 3, 4, 5)

Q13. Repeat a tuple three times.

In [23]:
t=(1,2,3)
repeat=t*3
print(repeat)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

Q14. Check if a tuple is empty.

In [52]:
def check(t):
    if len(t) == 0:
        return "This tuple is empty"
    else:
        return "This tuple is not empty"

t1=()
t2=(1,2,3)
print(check(t1))
print(check(t2))

This tuple is empty
This tuple is not empty

Q15. Create a nested tuple.

In [53]:
tuple1=((1,5,3,5),(5,689,98,2),("my name"))
print(f"Nested Tuple: {tuple1}")

Nested Tuple: ((1, 5, 3, 5), (5, 689, 98, 2), 'my name')

Q16. Access the first element of a nested tuple.

In [2]:
tuple1=((1,5,3,5),5,689,98,2,"my name")
tuple1[0][0]

1

Q17. Create a tuple with a single element.

In [3]:
s=(25,)
print("Single element: ",s)

Single element:  (25,)

Q18. Compare two tuples

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

Q19. Delete a tuple.

In [41]:
t1=(252,253,256,246,52)
del t1
print(t1)

NameError: name 't1' is not defined

Q20. Slice a tuple.

In [6]:
t=(1,2,3,4,5)
slicing=t[0:2]
print(slicing)

(1, 2)

Q21. Find the maximum value in a tuple.

In [7]:
t=(626,25,245,289,295,98,3452,5654,18)
find_max=max(t)
print(find_max)

5654

Q22. Find the minimum value in a tuple.

In [1]:
t=(626,25,245,289,295,98,3452,5654,18)
find_min=min(t)
print(find_min)

18

Q23. Convert a string to a tuple of characters.

In [2]:
string="my name is"
con_tuple=tuple(string)
print(con_tuple)

('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's')

Q24. Convert a tuple of characters to a string.

In [3]:
tuple1=('m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's')
con_string=''.join(tuple1)
print(con_string)

my name is

Q25. Create a tuple from multiple data types.

In [43]:
t=(1,2.5,"my",True,[1,2])
print(t)

(1, 2.5, 'my', True, [1, 2])

Q26. Check if two tuples are identical.

In [2]:
t1=(1,2,3)
t2=(1,2,3)
if t1==t2:
    print("It is identical")
else:
    print("It is not identical")

It is identical

Q27. Sort the elements of a tuple.

In [8]:
tuple1=(25,262,89,88,86,32,15,787,56,98,29)
sort=sorted(tuple1)
print("Sorted tuple: ",tuple(sort))

Sorted tuple:  (15, 25, 29, 32, 56, 86, 88, 89, 98, 262, 787)

Q28. Convert a tuple of integers to a tuple of strings.

In [14]:
t=(1,2,3,4,5)
print("Tuple: ",t)
t1=tuple(str(i) for i in t)
print("New tuple: ",t1)

Tuple:  (1, 2, 3, 4, 5)
New tuple:  ('1', '2', '3', '4', '5')

Q29. Convert a tuple of strings to a tuple of integers.

In [15]:
t=('1', '2', '3', '4', '5')
print("Tuple: ",t)
t1=tuple(int(i) for i in t)
print("New tuple: ",t1)

Tuple:  ('1', '2', '3', '4', '5')
New tuple:  (1, 2, 3, 4, 5)

Q30. Merge two tuples.

In [16]:
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print(t1)
print(t2)
t=t1+t2
print("Merged tuple: ",t)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
Merged tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Q31. Flatten a nested tuple.

In [60]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

((1, 2), (3, (4, 5)), 6)

Q32. Create a tuple of the first 5 prime numbers.

In [2]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
l=[i for i in range(2,100) if is_prime(i)][:5]
prime_tuple=l
print(tuple(l))

(2, 3, 5, 7, 11)

Q33. Check if a tuple is a palindrome.

In [22]:
def palindrome(t):
    return t==t[::-1]

t1=(1,2,3,4,5)
t2=(1,2,3,2,1)
print(f"t1 :{t1} :")
print(palindrome(t1))
print(f"t2 :{t2} :")
print(palindrome(t2))

t1 :(1, 2, 3, 4, 5) :
False
t2 :(1, 2, 3, 2, 1) :
True

Q34. Create a tuple of squares of numbers from 1 to 5.

In [3]:
tuple_of_square=tuple(i*i for i in range(1,6))
print("Tuple of squares of number from 1 to 5: ",tuple_of_square)

Tuple of squares of number from 1 to 5:  (1, 4, 9, 16, 25)

Q35. Filter out all even numbers from a tuple.

In [7]:
t=tuple(filter(lambda a:a%2==0,range(1,11)))
print("Filter out all even numbers from 1 To 10 in a tuple: ",t)

Filter out all even numbers from 1 To 10 in a tuple:  (2, 4, 6, 8, 10)

Q36. Multiply all elements in a tuple by 2.

In [8]:
l=(1,2,3,4,5,6,7,8,9,10)
t=tuple(i*2 for i in l)
print(t)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

OR

In [9]:
tuple(map(lambda x:x*2,l))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

Q37. Create a tuple of random numbers.

In [16]:
import random
tuple_random = tuple(random.randint(1, 100) for i in range(5))  
print("Random tuple:", tuple_random)

Random tuple: (2, 19, 45, 60, 17)

Q38. Check if a tuple is sorted.

In [7]:
def check_sort(t):
    for i in range(len(t)-1):
        if t[i]>t[i+1]:
            return False
    return True

t1=(1,12,32,56,85)
t2=(99,85,34,21,20)
print(f't1={t1}')
print(f't2={t2}')
print("Tuple t1 is sorted or not:",check_sort(t1))
print("Tuple t1 is sorted or not:",check_sort(t2))

t1=(1, 12, 32, 56, 85)
t2=(99, 85, 34, 21, 20)
Tuple t1 is sorted or not: True
Tuple t1 is sorted or not: False

Q39. Rotate a tuple to the left by `n` positions.

In [61]:
def rotate_left(n,t):
    n=n%len(t)
    new=t[n:]+t[:n]
    return new

print(rotate_left(2,(1,2,3,4,5)))

(3, 4, 5, 1, 2)

Q40. Rotate a tuple to the right by `n` positions.

In [62]:
def rotate_right(n,t):
    n=n%len(t)
    new=t[-n:]+t[:-n]
    return new

print(rotate_right(2,(1,2,3,4,5)))

(4, 5, 1, 2, 3)

Q41. Create a tuple of the first 5 Fibonacci numbers.

In [16]:
def fibo(num):
    fibo=[0,1]
    while len(fibo)<num:
        next=fibo[-1]+fibo[-2]
        fibo.append(next)
    return tuple(fibo)    
limit=5
print(fibo(5))

(0, 1, 1, 2, 3)

Q42. Create a tuple from user input.

In [63]:
input=input("Enter the character for the tuple use comma to seperate the character: ")
sep=input.split(',')
t=tuple(sep)
print(t)

Enter the character for the tuple use comma to seperate the character:  w,e,rt,y, ,y,

('w', 'e', 'rt', 'y', ' ', 'y', '')

Q43. Swap two elements in a tuple.

In [64]:
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

Q44. Reverse the elements of a tuple.

In [17]:
t=(1,2,3,4,5)
print("Original tuple: ",t)
print("Reversed tuple: ",t[::-1])

Original tuple:  (1, 2, 3, 4, 5)
Reversed tuple:  (5, 4, 3, 2, 1)

Q45. Create a tuple of the first `n` powers of 2.

In [22]:
n=int(input("Enter the limit: "))
t=tuple(2**i for i in range(1,n+1))
print(t)

Enter the limit:  10

(2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

Q46. Find the longest string in a tuple of strings.

In [27]:
t=("uttarpradesh",'delhi','haryana','rajasthan')
longest=max(t,key=len)
print(longest)

uttarpradesh

Q47. Find the shortest string in a tuple of strings.

In [28]:
t=("uttarpradesh",'delhi','haryana','rajasthan')
shortest=min(t,key=len)
print(shortest)

delhi

Q48. Create a tuple of the first `n` triangular numbers.

In [66]:
def triangular(n):
    return tuple((i * (i + 1)) // 2 for i in range(1,n+1))

print(triangular(5))

(1, 3, 6, 10, 15)

Q49. Check if a tuple contains another tuple as a subsequence.

In [68]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple=(1,2,3,4,5,6,7,8,9)
sub_tuple=(2,3,5)
x=contains_subsequence(main_tuple, sub_tuple)
print(x)

False

OR

In [69]:
def tupleMatch(A, B):
    return A == tuple(b for b in B if b in A)

print(tupleMatch((1, 2, 3, 4), (1, 2, 3, 4, 5, 6))) # True
print(tupleMatch((1, 2, 3, 4), (1, 3, 5, 4, 2, 6))) # False

True
False

Q50. Create a tuple of alternating 1s and 0s of length `n`.

In [71]:
def alternating_tuple(n):
    return tuple([i % 2 for i in range(n)])

n=5
print(alternating_tuple(5))

(0, 1, 0, 1, 0)

## Set Based Practice Problem :

Q1. Create a set with integers from 1 to 5.

In [1]:
s={1,2,3,4,5}

Q2. Add an element to a set.

In [4]:
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

Q3. Remove an element from a set.

In [5]:
s={1,2,3,4,5}
s.remove(5)
print(s)

{1, 2, 3, 4}

Q4. Check if an element exists in a set.

In [8]:
s={1,2,3,4,5}
print(s)
find=int(input("Enter value to find: "))
if find in s:
    print("This element is exist in the set")
else:
    print("This element is not exist in the set")

{1, 2, 3, 4, 5}

Enter value to find:  5

This element is exist in the set

Q5. Find the length of a set without using the `len()` function.

In [19]:
s={1,2,3,4,5,6}
total=0
for i in s:
    total+=1
print(total)

6

Q6. Clear all elements from a set.

In [1]:
s={1,2,34,5,6,5,6}
s.clear()
print(s)

set()


Q7. Create a set of even numbers from 1 to 10.

In [9]:
l=[]
for i in range(2,11,2):
    l.append(i)
s=set(l)
print("Even number: ",s)

Even number:  {2, 4, 6, 8, 10}

Q8. Create a set of odd numbers from 1 to 10.

In [8]:
l=[]
for i in range(1,11,2):
    l.append(i)
s=set(l)
print("Odd number: ",s)

Odd number:  {1, 3, 5, 7, 9}

Q9. Find the union of two sets.

In [11]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s=s1.union(s2)
print("Union os set(s1) and set(s2) :",s)

Union os set(s1) and set(s2) : {1, 2, 3, 4, 5, 6, 7, 8}

Q10. Find the intersection of two sets.

In [12]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s=s1.intersection(s2)
print("The intersection of s1 and s2 is :",s)

The intersection of s1 and s2 is : {4, 5}

Q11. Find the difference between two sets.

In [14]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s=s1.difference(s2)
print("The difference of the s1 and s2: ",s)

The difference of the s1 and s2:  {1, 2, 3}

Q12. Check if a set is a subset of another set.

In [17]:
s1={1,2,3}
s2={1,2,3,4,5}
subset=s1.issubset(s2)
print("s1 is subset of s2: ",subset)

s1 is subset of s2:  True

Q13. Check if a set is a superset of another set.

In [18]:
s1={1,2,3,4,5}
s2={1,2,3}
superset=s1.issuperset(s2)
print("s1 is superset of s2: ",superset)

s1 is superset of s2:  True

Q14. Create a set from a list.

In [19]:
l=[1,2,3,4,5]
print("List: ",l)
s=set(l)
print("Set: ",s)

List:  [1, 2, 3, 4, 5]
Set:  {1, 2, 3, 4, 5}

Q15. Convert a set to a list.

In [20]:
s={1,2,3,4,5}
print("Set: ",s)
l=list(s)
print("List: ",l)

Set:  {1, 2, 3, 4, 5}
List:  [1, 2, 3, 4, 5]

Q16. Remove a random element from a set.

In [21]:
s={1,2,3,4,5}
print("Old set: ",s)
s.remove(4)
print("Updated set: ",s)

Old set:  {1, 2, 3, 4, 5}
Updated set:  {1, 2, 3, 5}

Q17. Pop an element from a set.

In [23]:
s={1,2,3,4,5}
print("Old set: ",s)
pop=s.pop()
print("Poped element: ",pop)
print("Updated set: ",s)

Old set:  {1, 2, 3, 4, 5}
Poped element:  1
Updated set:  {2, 3, 4, 5}

Q18. Check if two sets have no elements in common.

In [25]:
s1={1,2,3,4,5}
s2={6,7,8,9}
common=s1.intersection(s2)
if not common:
    print("These two sets have no element")
else:
    print("These two sets contains some common element")

These two sets have no element

Q19. Find the symmetric difference between two sets.

In [26]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
sym=s1.symmetric_difference(s2)
print("The symmetric difference between two sets: ",sym)

The symmetric difference between two sets:  {1, 2, 3, 6, 7, 8}

Q20. Update a set with elements from another set.

In [2]:
s1={1,2,3}
s2={2,3,4,5,6}
s1.update(s2)
print("Upadted s1: ",s1)

Upadted s1:  {1, 2, 3, 4, 5, 6}

Q21. Create a set of the first 5 prime numbers.

In [81]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def first_n_primes(n):
    primes = []
    i = 2
    while len(primes) < n:
        if is_prime(i):
            primes.append(i)
        i += 1
    return primes

print(first_n_primes(5))

[2, 3, 5, 7, 11]

Q22. Check if two sets are identical.

In [80]:
s1={1,2,3}
s2={1,3,2}
if s1 == s2:
    print("These two sets are identical")
else:
    print("These two sets not are identical")

These two sets are identical

Q23. Create a frozen set.

In [34]:
l=[1,2,3,4,5]
print("List=",l)
frozen_set=frozenset(l)
print(frozen_set)

List= [1, 2, 3, 4, 5]
frozenset({1, 2, 3, 4, 5})

Q24. Check if a set is disjoint with another set.

In [82]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint=set1.isdisjoint(set2)
print(disjoint)

True

Q25. Create a set of squares of numbers from 1 to 5.

In [37]:
s=set()
for i in range(1,6):
    square=i**2
    s.add(square)
print(s)

{1, 4, 9, 16, 25}

Q26. Filter out all even numbers from a set.

In [38]:
l={1,2,3,4,5,6,7,8,9,10}
l1=set()
for i in l:
    if i%2==0:
        l1.add(i)
print(l1)

{2, 4, 6, 8, 10}

Q27. Multiply all elements in a set by 2.

In [40]:
l={1,2,3,4,5,6,7,8,9,10}
l1=set()
for i in l:
    mul=i*2
    l1.add(mul)
print(l1)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

Q28. Create a set of random numbers.

In [46]:
import random

l=set(random.randint(1,100) for i in range(5))
print(l)

{76, 13, 86, 55, 59}

Q29. Check if a set is empty.

In [47]:
s=set()
if not s:
    print("This set is empty")
else:
    print("This set is not empty")

This set is empty

Q30. Create a nested set (hint: use frozenset).

In [51]:
s1={1,2,3}
s2={4,5,6}
frozen1=frozenset(s1)
frozen2=frozenset(s2)
nested_list={frozen1,frozen2}
print(nested_list)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

Q31. Remove an element from a set using the discard method.

In [52]:
s={1,2,3,4,5,6,7,8,9,10}
print(f"Set: {s}")
remove=int(input("Enter the element to remove"))
s.discard(remove)
print("Updated set: ",s)

Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Enter the element to remove 5

Updated set:  {1, 2, 3, 4, 6, 7, 8, 9, 10}

Q32. Compare two sets.

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

Q33. Create a set from a string.

In [56]:
string=input("Enter the string: ")
x=set(string)
print(x)

Enter the string:  Hello

{'l', 'H', 'o', 'e'}

Q34. Convert a set of strings to a set of integers

In [59]:
s={"1",'2','3','4'}
print("Previous set:",s)
s=set(int(i) for i in s)
print("New set:",s)

Previous set: {'2', '1', '3', '4'}
New set: {1, 2, 3, 4}

Q35. Convert a set of integers to a set of strings.

In [60]:
s={1, 2, 3, 4}
print("Old set:",s)
s1=set(str(i) for i in s)
print("New set:",s1)

Old set: {1, 2, 3, 4}
New set: {'2', '1', '3', '4'}

Q36. Create a set from a tuple.

In [61]:
t=(1,2,3,4,6,2,6,1,6,9,2,8)
print("Tuple:",t)
s=set(t)
print("Set from a tuple:",s)

Tuple: (1, 2, 3, 4, 6, 2, 6, 1, 6, 9, 2, 8)
Set from a tuple: {1, 2, 3, 4, 6, 8, 9}

Q37. Convert a set to a tuple.

In [62]:
s={1, 2, 3, 4, 6, 8, 9}
print("Set:",s)
t=tuple(s)
print("Tuple from the set:",t)

Set: {1, 2, 3, 4, 6, 8, 9}
Tuple from the set: (1, 2, 3, 4, 6, 8, 9)

Q38. Find the maximum value in a set.

In [65]:
s={1,2,3,4,5,6}
l=list(s)
maxv=l[0]
for i in l:
    if maxv<i:
        maxv=i
print("Maximum value: ",maxv)

Maximum value:  6

Q39. Find the minimum value in a set.

In [68]:
s={2,3,4,1,5,6}
l=list(s)
minv=l[0]
for i in l:
    if maxv>i:
        maxv=i
print("Maximum value: ",minv)

Maximum value:  1

Q40. Create a set from user input.

In [27]:
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break 

    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  i live in uttar pradesh
>  i want to become data scientist
>  done

Final set: {'i want to become data scientist', 'i live in uttar pradesh'}

Q41. Check if the intersection of two sets is empty.

In [28]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

Q42. Create a set of the first 5 Fibonacci numbers.

In [74]:
def fibo(n):
    fibo=[0,1]
    while len(fibo)<n:
        next=fibo[-1]+fibo[-2]
        fibo.append(next)
    return set(fibo)

n=6
print(fibo(n))

{0, 1, 2, 3, 5}

Q43. Remove duplicates from a list using sets.

In [75]:
l=[1,2,5,2,1,3,1,3,1,6,4,8,3,9,9]
print("List:",l)
print("List which remove all the duplicate value in the list:",set(l))

List: [1, 2, 5, 2, 1, 3, 1, 3, 1, 6, 4, 8, 3, 9, 9]
List which remove all the duplicate value in the list: {1, 2, 3, 4, 5, 6, 8, 9}

Q44. Check if two sets have the same elements, regardless of their count.

In [30]:
def same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

Q45. Create a set of the first `n` powers of 2.

In [77]:
n=int(input("Enter the value: "))
s=set(2**i for i in range(n))
print(s)

Enter the value:  5

{1, 2, 4, 8, 16}

Q46. Find the common elements between a set and a list.

In [78]:
l=[1,2,3,4,5,6]
s={5,6,7,8,9}
s_to_l=list(s)
common=[]
for i in l:
    for j in s_to_l:
        if i==j:
            common.append(i)
print("Common element between a set and a list:",common)

Common element between a set and a list: [5, 6]

Q47. Create a set of the first `n` triangular numbers.

In [81]:
def triangular(n):
    s=set()
    for i in range(1,n+1):
        no=i*(i+1)//2
        s.add(no)
    return s    

n=int(input("Enter the value upto which you want triangular: "))
print(triangular(n))

Enter the value upto which you want triangular:  5

{1, 3, 6, 10, 15}

Q48. Check if a set contains another set as a subset.

In [32]:
set_A = {1, 2, 3}
set_B = {1, 2, 3, 4, 5}

if set_A.issubset(set_B):
    print("Set A is a subset of Set B")
else:
    print("Set A is not a subset of Set B")

Set A is a subset of Set B

Q49. Create a set of alternating 1s and 0s of length `n`.

In [35]:
count_1 = 4
count_0 = 3
size = 14
test_list = [1 if i % (count_1 + count_0) < count_1 else 0 for i in range(size)]
print(set(test_list))

{0, 1}

Q50. Merge multiple sets into one.

In [31]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}